<!-- app/views/home/index.html.erb -->
<h1>Contáctanos</h1>
<%= link_to 'Nuevo Artículo', new_article_path %>
<%= render 'form' %>
<div data-controller="hello">
  <button data-action="click->hello#greet">Saludar</button>
</div>